header {
  padding: 25px;
  box-shadow: 1px 1px 5px 1px #ccc;
  height: 90px;
}

h1 {
  font-size: 24px;
}

.container {
  align-items: center;
  display: flex;
  gap: 191px;
  justify-content: center;

}


nav ul {
  display: flex;
  gap: 100px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
  font-size: 24px;
  font-weight: 100;
  color: #000;
}

a:hover {
  color: var(--verde);
}

i {
  position: absolute;
  left: 5px;
  top: 7px;
}

form {
  position: relative;
}

form input {
  max-width: 100%;
  height: 39px;
  width: 746px;
  outline: none;


}


input {
  padding-left: 35px;
  border-radius: 20px;
}


input {
  border: 1px solid #ccc;
}


@media (width: 430px) {

  header {

    padding: 50px;
    box-shadow: 1px 1px 5px 1px #ccc;
    height: 226px;
  }

  .container {
    width: 100%;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  nav ul {
    gap: 25px;
    display: flex;
    flex-direction: column;
  }

  a {
    font-size: 16px;
  }

  h1 {
    font-size: 16px;
  }

  form input {
    display: none;
  }

  i {
    display: none;
  }

}