.container-cadastro {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  margin: 45px 0;
  font-size: 32px;
}

.cadastro {
  width: 465px;
  height: 550px;
  margin: 165px 0;
  box-shadow: 0.5px 0.5px 5px 0.5px #ccc;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

input[type="text"] {
  width: 365px;
  height: 47px;
  border-radius: 15px;
  border: solid 0.5px #CCC;
  outline: none;
}

input[type="text"]:focus {
  border: solid 0.5px #383838;
}

input[type="text"]::placeholder {
  font-size: 16px;
  color: black;
  opacity: 70%;
}

input[type="email"] {
  width: 365px;
  height: 47px;
  border-radius: 15px;
  border: solid 0.5px #CCC;
  outline: none;
}

input[type="email"]:focus {
  border: solid 0.5px #383838;
}

input[type="email"]::placeholder {
  font-size: 16px;
  color: black;
  opacity: 70%;
}

input[type="password"] {
  width: 365px;
  height: 47px;
  border-radius: 15px;
  border: solid 0.5px #CCC;
  outline: none;
}

input[type="password"]:focus {
  border: solid 0.5px #383838;
}

input[type="password"]::placeholder {
  font-size: 16px;
  color: black;
  opacity: 70%;
}

.container-check {
  margin-right: 105px;
}

input[type="checkbox"] {
  accent-color: rgb(0, 140, 255);
}

label {
  font-weight: bold;
}

button {
  width: 154px;
  height: 44px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background: #62DAA6;
  cursor: pointer;
  transition: background 400ms ease;
}

button:hover {
  background: #3e9c73;
}

@media (width: 430px) {
  .container-cadastro {
    display: flex;
    justify-content: center;
  }

  h2 {
    text-align: center;
    margin: 45px 0;
    font-size: 32px;
  }

  .cadastro {
    width: 355px;
    height: 512px;
    margin: 60px 0;
    box-shadow: 0.5px 0.5px 5px 0.5px #ccc;
    border-radius: 5px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  input[type="text"] {
    width: 262px;
    height: 43px;
    border-radius: 15px;
    border: solid 0.5px #CCC;
    outline: none;
  }

  input[type="text"]:focus {
    border: solid 0.5px #383838;
  }

  input[type="text"]::placeholder {
    font-size: 16px;
    color: black;
    opacity: 70%;
  }

  input[type="email"] {
    width: 262px;
    height: 43px;
    border-radius: 15px;
    border: solid 0.5px #CCC;
    outline: none;
  }

  input[type="email"]:focus {
    border: solid 0.5px #383838;
  }

  input[type="email"]::placeholder {
    font-size: 16px;
    color: black;
    opacity: 70%;
  }

  input[type="password"] {
    width: 262px;
    height: 43px;
    border-radius: 15px;
    border: solid 0.5px #CCC;
    outline: none;
  }

  input[type="password"]:focus {
    border: solid 0.5px #383838;
  }

  input[type="password"]::placeholder {
    font-size: 16px;
    color: black;
    opacity: 70%;
  }

  .container-check {
    margin-right: 30px;
  }

  input[type="checkbox"] {
    accent-color: rgb(0, 140, 255);
  }

  label {
    font-size: 14px;
    font-weight: bold;
  }

  button {
    width: 110px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background: #62DAA6;

    cursor: pointer;
    transition: background 400ms ease;
  }

  button:hover {
    background: #3e9c73;
  }
}